body{
    background-color: rgba(136, 161, 43, 0.774);
    font-family: fantasy;
    color: darkolivegreen;
}

footer{
    position: relative;
}

footer p {
    font-size: 100px;
    margin: 1em;
    text-align: right;
}

img {
    width: 50%;
    height: 50%;
}